@import "tailwindcss";
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1FB5DD;
  border-radius: 6px;
}
.swal2-container{
  z-index: 9999!important;
}
.ohNo {
  top: 50% !important;
}

.testimonialTextcard {
  width: 448px;
  height: 308px;
  border-radius: 18px;
  padding: 22px;
  box-shadow: inset #0A303A 0 0 60px 4px;
}


.jodit-workplace{
  color: white !important;
  background-color: black !important;
}

@layer base {
  h1 {
    background: linear-gradient(
      90deg,
      #ffffff 0%,
      #ffffff 49.89%,
      #1fb5dd 100%
    );
    background-clip: text;
    color: transparent;

  }
}