@import "tailwindcss";
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Color of the track */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(51, 30, 240);
  border-radius: 6px;
  
}

